/* FARVER */
:root {
  --sort: #1e1e1e;
  --gray: #8a8a89;
  --baggrund: #f1eee8;
}

/* FONTE */
/* regular */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap");
/* bold */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
/* ekstra bold */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");

/* mobile */
h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: var(--sort);
  margin-bottom: 15px;
}

h2 {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 600;
  color: var(--sort);
}

p {
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--sort);
}

h3 {
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: var(--sort);
}

.read_more {
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 600;
  color: var(--gray);
  line-height: 12px;
}

.read_more:hover {
  text-decoration: underline;
}

.menu {
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 400;
  color: var(--sort);
}

/* desktop */
@media (min-width: 800px) {
  h1 {
    font-size: 66px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 20px;
    line-height: 40px;
  }

  h3 {
    font-size: 15px;
  }

  .read_more {
    font-size: 15px;
  }
}

/* MARGIN */

/* mobile */
body {
  background-color: var(--baggrund);
}
main {
  margin-top: 80px;
  overflow-x: hidden; /* Ingen horizontal scroll */
}
header {
  padding-bottom: 5px;
  padding-top: 5px;
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 10;
  /* background-color: #f1eee8; */
}
footer {
  padding-top: 10px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  /* background-color: #f1eee8; */
}

/* desktop */
@media (min-width: 800px) {
  main {
    margin-top: 50px;
    overflow-x: hidden; /* Ingen horizontal scroll */
  }
}
