---
import Skelet from "../layout/skelet.astro";
---

<Skelet>
  <h1>About</h1>
  <hr />
  <div class="side_bar">
    <h2>History</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et provident vel,
      aperiam iure pariatur, eius perferendis reprehenderit at minus
      necessitatibus nobis. Fuga sit exercitationem aspernatur pariatur maxime
      molestiae harum tempore.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
      corrupti fugiat velit inventore nemo nesciunt, vel, reiciendis repellat,
      quod repudiandae architecto facilis facere. Molestiae molestias fugiat ab
      dicta, magni impedit!
    </p>
  </div>
  <hr />
  <div class="cross_info">
    <img src="../../public/imgs/mission.png" alt="a picture of the founders" />
  </div>
</Skelet>
