---
import Skelet from "../layout/skelet.astro";
---

<Skelet>
  <h1>Contact</h1>
  <hr />
  <div>
    <h2>Management</h2>
    <p>Coco Gaston</p>
    <p>Coco@alpha.com</p>
  </div>
  <hr />
  <div>
    <h2>Booking & Live</h2>
    <p>Hanne Bjerringfelt</p>
    <p>Hanne@alpha.com</p>
  </div>
  <hr />
  <div>
    <h2>General Inquiries</h2>
    <p>alpha.mgmt@google.com</p>
  </div>
</Skelet>
