---
import BurgerMenu from "../components/burger_menu.astro";
import Footer from "../components/footer.astro";
import "../styles/generel.css";
import GalleryCarrousel from "../components/gallery_carrousel.astro";
const data = await fetch("https://qnmavaxwhjqqhjgjqurq.supabase.co/rest/v1/talent", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFubWF2YXh3aGpxcWhqZ2pxdXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTM0ODEsImV4cCI6MjAzMTE2OTQ4MX0.RDkLGM5hqlega6p_jA4OWoHfM2D8Iqrtah5GOXEY1e0",
  },
}).then((res) => res.json());

console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <BurgerMenu />
    </header>
    <main>
      <div class="artist_grid">
        <div class="side_bar">
          <div class="cross_info">
            <div>
              <img class="cross" src="/imgs/cross.svg" alt="burger" />
            </div>
            <div>
              <p class="side_text">Info</p>
            </div>
          </div>
          <div class="info">
            <div>
              <h2>Alga</h2>
              <p>
                Copenhagen-based electropop duo alga playfully shows what it feels and sounds like when hard-hitting productions
                meet heartfelt melodies. Inspired by genres such as R&B, Pop, D&B and UK Garage, their uncompromising sound
                bridges experimental instrumentation and catchy hooks. alga is the name of the collaboration between Alberte
                Silberbrandt and Gabriel Blachmann. With the release of their debut EP 'Don't Buy Me Flowers', the duo has been
                named one of the most promising upcoming acts in Denmark.
              </p>
            </div>
          </div>
        </div>
        <div class="open_tab">
          <div class="gallery">
            {
              data.map((name) => {
                return <GalleryCarrousel data={data} />;
              })
            }
          </div>
          <div class="cross_gallery_txt">
            <div>
              <img class="cross_gallery" src="/imgs/cross.svg" alt="burger" />
            </div>
            <div>
              <p class="side_text_gallery">Gallery</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
<style>
  header {
    z-index: 100;
    border-bottom: 1px solid #1e1e1e;
  }
  main {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-y: hidden;
    position: fixed;
    top: 68px;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  .artist_grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
  }
  .side_bar {
    border-right: 1px solid #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cross_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cross {
    max-width: 35px;
    cursor: pointer;
  }
  .side_text {
    cursor: pointer;
  }
  .open_tab {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 150px;
    overflow: scroll;
  }
  .cross_gallery_txt {
    display: none;
  }
  .info {
    display: none;
  }
  /* ON CLICK - DET SOM ÆNDRER SIG* (INFO VIEW)*/

  /*reverse grid*/
  .artist_grid.change {
    grid-template-columns: 4fr 1fr;
    transition: 1s;
  }

  /*fjern gallery*/
  .gallery.change {
    display: none;
  }

  /*fjern + og info*/
  .cross_info.change {
    display: none;
  }

  .open_tab.change {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
  }
  .cross_gallery_txt.change {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cross_gallery.change {
    cursor: pointer;
  }
  .side_text_gallery {
    cursor: pointer;
  }
  img.cross_gallery {
    max-width: 35px;
  }
</style>
<script>
  const cross = document.querySelector(".cross");
  const sidetext = document.querySelector(".side_text");
  const grid = document.querySelector(".artist_grid");
  const gallery = document.querySelector(".gallery");
  const crossinfo = document.querySelector(".cross_info");
  const opentab = document.querySelector(".open_tab");
  const crossgallerytext = document.querySelector(".cross_gallery_txt");
  const crossgallery = document.querySelector(".cross_gallery");

  cross.addEventListener("click", open);
  sidetext.addEventListener("click", open);
  crossgallerytext.addEventListener("click", open);

  function open() {
    console.log("open");
    grid.classList.toggle("change");
    gallery.classList.toggle("change");
    crossinfo.classList.toggle("change");
    opentab.classList.toggle("change");
    crossgallerytext.classList.toggle("change");
    crossgallery.classList.toggle("change");
  }
</script>
