---
const {link} = Astro.props

---
<a href={link}><img class="arrow" src="/imgs/arrow.svg" alt="arrow back"/></a>

<style>
    .arrow{
width: 25px;
position: fixed;
bottom: 10%;
left: 5%;
    }
 @media (min-width: 800px) {
     .arrow{
width: 25px;
position: fixed;
bottom: 10%;
left: 2%;
    }
}
</style>