---
---
                        <div class="navbar_mobile">
                        <a href="#" class="right_nav_mobile">TALENT</a>
                        <a href="#" class="left_nav_mobile">AT THE MOMENT</a>
                        <a href="#" class="right_nav_mobile">ABOUT US</a>
                        <a href="#" class="left_nav_mobile">CONTACT</a>
                        </div>
<style>
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');/* importer font */
    .navbar_mobile{
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    position: fixed; /* ligger over det andet */
    z-index: 1; /* ligger over det andet */
    top: 0; /* starter fra toppen */
    left: 0; /* starter fra venstre */
    overflow-x: hidden; /* Ingen horizontal scroll */
    transition: 0.5s; /* fader in */
    }
    
    /*tekst*/
a{
    color: white;
    text-decoration: none;
    font-family: "Work Sans";
font-size: 30px;
}
/* lav flex row på menuen*/
.navbar_mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 7%;
}
/*streger over og under + position af tekst*/
.right_nav_mobile{
    text-align: left;
    border-bottom: 0.5px solid white;
    width: 70%;
    align-self: flex-end;
    margin-bottom: 3%;
}
.left_nav_mobile{
    border-top: 0.5px solid white;
    text-align: right;
    width: 70%;
}
/*hover-effekt*/
a:hover{
width: 85%;
transition: 1s;
}
</style>