---
---
<footer>
    <div id="footer_flex">
    <div class="links">
        <a href="index.html">Home</a>
        <a href="talent.html">Talent</a>
        <a href="atm.html">What's New?</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
    </div>
    <div class="socials">
        <img class="ikon" src="/imgs/instalogo.svg" alt="burger"/>
        <img class="ikon" src="/imgs/facebooklogo.svg" alt="burger"/>
    </div>
    </div>
</footer>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
    img{
width: 40px; 
height: 40px; 
object-fit: cover;
object-position: 15% 15%; 
    }
#footer_flex{
justify-content: space-between;
align-items: center;
z-index: 10;
display: flex;
}
    
.links{
gap: 30px;
display: flex;
}
.ikon{
    position: static;
}
.socials{
gap: 0px;
display: flex;
}
a{
font-family: "Work Sans";
font-size: 12px;
font-weight: 600;
text-decoration: none;
color: #8a8a89;
}
a:hover {
  text-decoration: underline;
}

</style>