---
---
<footer>
    <div id="footer_flex">
    <div class="links">
        <a href="index.html">Home</a>
        <a href="talent.html">Talent</a>
        <a href="atm.html">What's New?</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
    </div>
    <div class="socials">
        <img class="ikon" src="/imgs/instalogo.svg" alt="insta"/>
        <img class="ikon" src="/imgs/facebooklogo.svg" alt="facebook"/>
    </div>
    </div>
</footer>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap");
img{
width: 20px; 
    }
#footer_flex{
justify-content: space-between;
align-items: center;
z-index: 10;
display: flex;
 padding-left: 20px;
padding-right: 20px;
}
    
.links{
gap: 10px;
display: flex;
}
.ikon{
    position: static;
}
.socials{
gap: 5px;
display: flex;
}
a{
font-family: "Work Sans";
font-size: 12px;
font-weight: 600;
text-decoration: none;
color: #8a8a89;
}
a:hover {
  text-decoration: underline;
}

</style>