---
import GalleryCard from "./gallery_card.astro"
const { data} = Astro.props;
---

<div class="carousel">
  {
    data.map((data) => {
      return <GalleryCard data={data} link={"/artist/" + data.name} />;
    })
  }
</div>
<style>
  .carousel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    min-width: 100%;
    /* Allow items to wrap if they exceed container width */
    flex-wrap: nowrap;
 }
     /*
    <div class="carousel">
<GalleryCard/>
<GalleryCard/>
<GalleryCard/>
<GalleryCard/>
<GalleryCard/>
</div>

*/ 
</style>