---
---
<div class="talent_card">
   <img src="/imgs/kealin_grey.jpg" alt="artist"/> 
   <p class=".p_small">01 / Alga</p>
</div>
<style>
    img{
        width: 270px;
        height: auto;
        object-fit: cover;
    }
</style>