---
import "../styles/generel.css";

---
<div class="small_imgs">
<div class="karrusel">
	<img src="imgs/alga_square.png" alt="">
	<img src="imgs/alga_square.png" alt="">
	<img src="imgs/alga_square.png" alt="">
	<img src="imgs/alga_square.png" alt="">
	<img src="imgs/alga_square.png" alt="">
	<img src="imgs/alga_square.png" alt="">
	<img src="imgs/alga_square.png" alt="">
	<img src="imgs/alga_square.png" alt="">
	<img src="imgs/alga_square.png" alt="">
	<!-- evt giv hvert lille bilelde et id tilsvarende dens id i supabase, derefter js if click ændre href til stort billede til tilsvarende id (spørg peter???) -->
</div>
</div>

<style>

.karrusel{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: scroll;
		/* hides scrollbar */
  	scrollbar-width: none;	
}


.karrusel{
	display: flex;
	flex-direction: row;
		justify-content: space-between;
		overflow: scroll;
		
}


img{
	width: 80px;
	margin: 0 3px;
}

</style>