---
---
<a href="talent_singleview.html">
<div class="talent_card">
   <img src="/imgs/kealin_grey.jpg" alt="artist"/> 
   <h2>Kealin Grey</h2>
   <p>Alternative Rock Electronic Indie Pop</p>
</div>
</a>
<style>
    
    a{
        text-decoration: none;
    }
    img{
        width: 300px;
        height: 430px;
        object-fit: cover;
        object-position: 0% 100%; 
    }
    h2{
        font-weight: 600;
        line-height: 5px;
    }
    p{
        line-height: 5px;
    }
    img:hover{
object-position: 100% 0%; 
transition: 5s;
    }
</style>