---
import TalentCard from "./talent_card.astro";
const data = await fetch("https://qnmavaxwhjqqhjgjqurq.supabase.co/rest/v1/talent", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFubWF2YXh3aGpxcWhqZ2pxdXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTM0ODEsImV4cCI6MjAzMTE2OTQ4MX0.RDkLGM5hqlega6p_jA4OWoHfM2D8Iqrtah5GOXEY1e0",
  },
}).then((res) => res.json());
---

<div class="carousel">
  {
    data.map((data) => {
      return <TalentCard data={data} link={`${data.slug}`} />;
    })
  }
</div>
<style>
  .carousel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-y: scroll;
    min-width: 100%;
    /* Allow items to wrap if they exceed container width */
    flex-wrap: nowrap;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 40px;
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }
</style>
