---
import "../styles/generel.css";
import BurgerMenu from "../components/burger_menu.astro";
import Footer from "../components/footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <meta name="robots" content="nofollow" />
    <style>
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
</style>
    <title>{title}</title>
  </head>
</html>

<body>
  <BurgerMenu/>
  <main>
    <slot />
  </main>
<Footer/>
  
</body>